html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    justify-content: center;
    font-family: Arial, Verdana, sans-serif;
}

.calc-container {
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    border: 3px solid black;
    border-radius: 8px;
    width: 400px;
    height: 500px;
}

.display-container {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 0px 15px 15px 15px;
}

.display-text {
    font-size: 32px;
    max-width: 395.2px;
    overflow: hidden;
}

.button-container {
    flex: 4;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.first-line,
.line {
    flex: 1;
    display: flex;
}

.first-line {
    justify-content: flex-end;
    gap: 7.067px;
}

.line {
    justify-content: space-between;
}

button {
    width: 86px;
    height: auto;
    font-size: 24px;
}